
.root {
  -fx-background-color: #282b30;
}
.root .label {
  -fx-text-fill: #f5f5f5;
}

.menu-bar {
  -fx-background-color: #1e2124;
  -fx-text-fill: #f5f5f5;
}
.menu .label{
   -fx-text-fill: #f5f5f5;
}
.menu-item{
  -fx-background-color: #36393e;
  -fx-text-fill: #f5f5f5;
}
.context-menu {
  -fx-background-color: #1e2124;
  -fx-text-fill: #f5f5f5;
}


.menu:hover, .context-menu, .menu:showing  {
-fx-background-color: #36393e;
-fx-cursor:hand;
}
 .menu-item:hover {
   -fx-background-color: #5a5e63;
}



#chat-field {
  -fx-background-color:#424549;
}

#flow-pane-clients {
  -fx-padding: 20;
  -fx-text-fill: #f5f5f5;
}
#fp-active-client  {
  -fx-background-color: #36393e;

}

.menu-item .label {
  -fx-text-fill: #f5f5f5;
}


.button {
  -fx-background-color: #36393e;
  -fx-text-fill: #f5f5f5;
}


  .text-area {
    -fx-padding: 5;
    -fx-background-color: #282b30;
    -fx-text-fill: #f5f5f5;
  }
  .text-area  .scroll-pane {
      -fx-background-color: #36393e;
      -fx-padding: 10;
      -fx-background-radius: 10;
  }

  .text-area  .scroll-pane  .content {
      -fx-background-radius: 0;
      -fx-background-color: #36393e;
  }






.region .pane .border-pane{
  -fx-background-color:#36393e;
}

.text-field {
  -fx-background-color: #1e2124;
  -fx-text-fill: #f5f5f5;
}
.flow-pane {
    -fx-background-color:#36393e;
}
.tab-pane .tab-header-area .tab-header-background {
  -fx-background-color:#282b30;
}
.tab-pane .tab-header-area  .tab{
  -fx-background-color:#424549;
  -fx-background-radius: 10;
}

.tab-pane .tab-header-area  .tab:selected  {
  -fx-background-color:#5a5e63;
  -fx-background-radius: 4 4 0 0;
}
.tab-pane .tab-header-area  .tab:hover  {
  -fx-cursor: hand;
}
.tab-pane:focused  .tab-header-area  .headers-region  .tab:selected .focus-indicator {
  -fx-border-color: transparent;
}


.tab-pane .tab-header-area .tab .tab-label {
  -fx-text-fill: #f5f5f5;
}
